<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>tossr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="tossr - Salad Stuff" />
    <meta property="og:description" content="The Salad Generator" />
    <meta property="og:image" content="../img/lettuce.jpg" />
    <meta name="description" content="Using Ruby on Rails to make your salads"> 
   
        <meta name="keywords" content="Salads, Ruby, Rails"> 
  </head>

  <body>

<div class="header">
        <div class="container">
        <div class="titleheader">
            <h1>"Once upon a time...</h1><br><br>
            <h1>Bas and Sonya were overwhelmed by salad choices."</h1><br><br>
            <h3><a href="https://github.com/tossr/tossr">tossr</a> generates and
 optimizes your salad for you, so you don't have to.</h3>


<br>
            <h3> Click <%= link_to 'here', controller: 'salads' %> to see the beginning of our Ruby on Rails App! </h3>  
